!gradle-wrapper.jar
/.gradle
.idea/modules/test-output/
.idea/workspace.xml
.idea/tasks.xml
.idea/.name
.idea/caches/build_file_checksums.ser
.idea/gradle.xml
.idea/modules.xml
.idea/libraries
.idea/runConfigurations
.idea/inspectionProfiles
.idea/codeStyles
.idea/misc.xml
.idea/checkstyle-idea.xml
/out
/build
/test-output
/local.properties
*.class
*.swp
*.swo
*.iws
*.iml
